<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <h1>welcome to my home page!</h1>
    <hr>

    <h2>
        <ul>
            <li>This mini project contains some mobile names,mobile price and which type of mobile is this.</li>
            <li>Let's go to the next page and view my project.</li>
        </ul>
    </h2>
    
</body>
</html>